<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Enots</title>
    <script src="/lib/vue.js"></script>
    <script src="/lib/bundle.js"></script>
    <script src="/lib/front_enot.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="enot">
        <create v-if="current=='create'" v-on:enot-buy="enot_buy"></create>
        <ready v-else-if="current=='ready'" v-bind:enot="world" v-on:create="current='create'"></ready>
    </div>

    <script>
        var Create = {
            template: "#create-id",
            data: function () {
                return { min_age: 1, max_age: 2 }
            },
            methods: {
                enot_buy: function () {
                    this.$emit('enot-buy', { max: this.max_age, min: this.min_age })
                },
                age_control: function () {
                    if (this.min_age < 1) this.min_age = 1;
                    if (this.max_age - this.min_age < 1)
                        this.max_age = this.min_age * 1 + 1;
                }
            }
        }
    </script>
    <script type="text/x-template" id="create-id">
        <div id="create">
            <div id="settings">
                <div class="settings">
                    <button type="button" v-on:click="enot_buy">Buy enot</button>
                </div>
                <div class="settings">
                    <div class="age-1">
                        Minimum age : <br> Maximum age :
                    </div>
                    <div class="age-2">
                        <input type="number" v-model.number="min_age" v-on:click="age_control" v-on:keyup.enter="age_control">
                        <input type="number" v-model.number="max_age" v-on:click="age_control" v-on:keyup.enter="age_control">
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script>
        var Ready = {
            template: "#ready-id",
            props: ['enot'],
            data: function () {
                return {
                    comres: ['Вы купили енота'],
                    world: this.enot,
                    new_world: {}
                }
            },
            methods: {
                enot_feed: function () {
                    this.world.enot = strToNum(this.world.enot);
                    this.new_world = engine.lunch_feed(this.world);
                    this.comres = engine.comres(engine.compare(this.world.enot, this.new_world.enot));
                    this.world.enot = numToStr(this.new_world.enot);
                    this.world.environment = this.new_world.environment;
                },
                enot_play: function () {
                    this.world.enot = strToNum(this.world.enot);
                    this.new_world = engine.lunch_play(this.world);
                    this.comres = engine.comres(engine.compare(this.world.enot, this.new_world.enot));
                    this.world.enot = numToStr(this.new_world.enot);
                    this.world.environment = this.new_world.environment;
                },
                create: function () {
                    this.$emit('create');
                },
            }

        }
    </script>
    <script type="text/x-template" id="ready-id">
        <div v-bind:class="{'night':(world.environment.time%24 >=12)}">
            <div class="enot">
                <li v-for="(item, index) in world.enot">{{index}} : {{item}}</li>
            </div>
            <div class="enot but">
                <button v-on:click="enot_feed">Feed</button>
                <button v-on:click="enot_play">Play</button>
                <h2>Time : {{ world.environment.time }}</h2>
            </div>
            <div class="enot">
                <p>Important messages:</p><br>
                <p>
                    <span v-if="world.enot.energy<30">Energy is low!<br></span>
                    <span v-if="world.enot.hungry=='голоден'">Enot is hungry!<br></span>
                </p>
            </div>
            <ul class="comres">
                <li v-for="str in comres"> {{ str }} </li>
            </ul>
        </div>
    </script>

    <script>
        var enot = new Vue({
            el: "#enot",
            data: {
                current: 'create',
                world: {}
            },
            components: {
                create: Create,
                ready: Ready
            },
            methods: {
                enot_buy: function (age) {
                    this.world = engine.init();
                    this.world = engine.lunch_buy(this.world,age.min, age.max);
                    this.world.enot = numToStr(this.world.enot);
                    this.current = 'ready';
                },
            },
        })
    </script>
</body>

</html>